@import url('https://fonts.googleapis.com/css2?family=Helvetica');
*{
    margin:auto;
    padding:auto;
    box-sizing: border-box;
}

.header{
    background-color: rgb(2, 117, 2);
    height:12vh;
    margin-top: .1%;
    width:99.7%;
    color:#333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    padding:1%;
}
.header h3{
    font-size: 14px;
    line-height: 1.42857143;
    margin-top:1%;
    color:wheat;
}
.header h2{
    color:white;
    font-size: 14px;
}
.nav-menu{
    background: linear-gradient(to left, red, black);
    border-radius: 5px;
    width:75%;
    height:15vh;
}
.navbar{
    color: skyblue;
    display:flex;
    text-align: center;
    font-size: 14px;

}
.balance, .user, .units{
    display:flex;
    width:20%;
}
.second{
    background: conic-gradient(from 3deg, white, skyblue, white );
    margin-top: 2%;
    height: 25vh;
}
hr{
    margin-top:-2%;
    display:block;
    width:65vw;
}